.page-template-styleguide {

	.color-box {
      width: 200px;
      height: 200px;
      margin: 10px;
      display: inline-flex;
	  justify-content: center;
	  align-items: center;
      text-align: center;
      font-weight: bold;
    }

	.styleguide {

		&-title {
			font-size: 100px;
			margin-bottom: 30px;
			margin-top: 150px;
			border-bottom: 1px solid #000;
			padding-bottom: 30px;
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	#content {
		padding-bottom: 100px
	}
}
