.footer {
	width: 100%;
	padding: 50px 0;

	&--site {
		color: #ffffff;
		background: var(--color-primary);
	}

	&__logo {
		width: 150px;
	}
	
	&__contact {
		display: flex;
		flex-direction: column;
		padding-top: $spacing-unit * 4;

		@include breakpoint(md) {
			padding: 0;
		}
	}

	&__menu-second {
		display: flex;
		flex-direction: row;
		gap: 30px;
		list-style-type: none; 

		a {
			color: var(--color-grey-100);
		}
	}
}
